<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
  <glwwinduptimejumper>Length of warm-up sequence in hours for GravJumpers</glwwinduptimejumper>
  <glwlaunchwindowjumper>Length of gravlaunch window in hours for GravJumpers</glwlaunchwindowjumper>
  <glwwindowcooldownjumper>Length of post-launch window cooldown in hours for GravJumpers</glwwindowcooldownjumper>
  
  <glwwinduptime>Length of warm-up sequence in hours for GravShips</glwwinduptime>
  <glwlaunchwindow>Length of gravlaunch window in hours for GravShips</glwlaunchwindow>
  <glwwindowcooldown>Length of post-launch window cooldown in hours for GravShips</glwwindowcooldown>
  
  <glwwinduptimehulk>Length of warm-up sequence in hours for GravHulks</glwwinduptimehulk>
  <glwlaunchwindowhulk>Length of gravlaunch window in hours for GravHulks</glwlaunchwindowhulk>
  <glwwindowcooldownhulk>Length of post-launch window cooldown in hours for GravHulks</glwwindowcooldownhulk>
  
  <glwsendLetters>Send letters when warm-up sequence finishes or when launch window closes</glwsendLetters>
  <glwshowAlerts>Show alerts for warm-up sequence and launch window</glwshowAlerts>
  <glwprintDebug>Enable debug logging</glwprintDebug>
</LanguageData>